h3 {
    font-size: 30px;
}

.header {
    background: red;
    display: flex;
    justify-content: space-evenly;
}

.header_item a {
    color: white;
    display: block;
    padding: 1em;
    text-decoration: none;
    font-family: Roboto, sans-serif;
}

.header_item a:hover {
    background: orangered;
}

.banner {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: url("img/banner.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.banner_container {
    margin: 20px;
    padding: 10px;
}

.banner_container h1 {
    padding: 10px;
    font-family: "Roboto", sans-serif;
    font-size: 50px;
    display: inline;
    color: white;
    background-color: rgba(0,0,0,0.5);
}

.banner_container p {
    padding: 10px;
    font-family: "Indie Flower", cursive;
    font-size: 20px;
    display: inline;
    color: white;
    background-color: rgba(0,0,0,0.5);
}

.articles {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pizza_description {
    padding: 10px;
    margin: 40px;
    font-family: Roboto, sans-serif;
    display: flex;
    justify-content: center;
    background-color: rgba(255,0,0,0.4);
    max-width: 1000px;
}

.pizza_description img {
    width: 400px;
    height: auto;
    border-radius: 50px;
}

.pizza_text {
    padding: 10px;
    margin: 40px;
    color: white;
    background-color: rgba(0,0,0,0.5);
}
