body {
    margin: 0;
}

h3 {
    font-size: 30px;
}

.header {
    background: red;
    display: flex;
    justify-content: space-evenly;
}

.header_item a {
    color: white;
    display: block;
    padding: 1em;
    text-decoration: none;
    font-family: Roboto, sans-serif;
}

.header_item a:hover {
    background: orangered;
}

.banner {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: url("img/banner.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.banner_container {
    margin: 20px;
    padding: 10px;
}

.banner_container h1 {
    padding: 10px;
    font-family: "Roboto", sans-serif;
    font-size: 50px;
    display: inline;
    color: white;
    background-color: rgba(0,0,0,0.5);
}

.banner_container p {
    padding: 10px;
    font-family: "Indie Flower", cursive;
    font-size: 20px;
    display: inline;
    color: white;
    background-color: rgba(0,0,0,0.5);
}

.quote_wrapper {
    display: flex;
    justify-content: center;
}

.quote {
    padding: 20px;
    font-family: "Indie Flower", cursive;
    color: darkgrey;
    animation: fadein 1s;
}

.articles {
    width: 60%;
    min-width: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pizza_description {
    padding: 10px;
    margin: 40px;
    display: flex;
    justify-content: center;
    /*background-color: rgba(0,0,0,0.5);*/
    max-width: 1000px;
}

.pizza_description img {
    width: 400px;
    width: 400px;
    height: auto;
    border-radius: 50px;
}

.pizza_text {
    font-family: Roboto, sans-serif;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
}

.fade_in {
    animation: fadein 1.5s;
}

@keyframes fadein {
    from { opacity: 0}
    to {opacity: 1}
}

@keyframes fadeout {
    from {opacity: 1}
    to {opacity: 0}
}